@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Courier+Prime:wght@400;700&family=Merriweather:wght@700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-950 text-white font-sans antialiased;
  }
}

@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}